/* Import font */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;302;400;500;600;700&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Marvel:wght@400;700&family=Oswald:wght@200;300;302;400;500;600;700&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Marvel:wght@400;700&family=Oswald:wght@200;300;302;400;500;600;700&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Bangers&family=Marvel:wght@400;700&family=Oswald:wght@200;300;302;400;500;600;700&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* Custom properties */
:root {
  --light-color: #fff;
  --light-color-alt: #afb6cd;
  --primary-background-color: #131417;
  --secondary-background-color: #252830;
  --hover-light-color: var(--light-color);
  --hover-dark-color: var(--primary-background-color);
  --gradient-color: linear-gradient(
    115deg,
    #ebeb99,
    #fc6229,
    #ff0000,
    #ffe100,
    #ffffff
  );
  --transparent-light-color: rgba(255, 255, 255, 0.05);
  --transparent-dark-color: rgba(0, 0, 0, 0.75);
  --font-family: "Oswald", sans-serif;
  --font-size-xsm: 1.2rem;
  --font-size-sm: 1.6rem;
  --font-size-md: 2.4rem;
  --font-size-lg: 3rem;
  --font-size-xl: 4rem;
  --gap: 2rem;
  --margin-sm: 2rem;
  --margin-md: 3rem;
  --item-min-height-sm: 20rem;
  --item-min-height-md: 30rem;
}

/* Base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size-sm);
  color: var(--light-color-alt);
  background-color: var(--primary-background-color);
  letter-spacing: 1px;
  transition: background-color 0.25s, color 0.25s;
}

h1 {
  font-family: "Bangers", cursive;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.002px;
  text-shadow: 1px 1px 4px rgb(11, 11, 11);
}
a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

input,
button {
  font: inherit;
  color: inherit;
  border: none;
  background-color: transparent;
  outline: none;
}

i {
  font-size: var(--font-size-md);
}
/* Theme color change */
body.light-theme {
  --light-color: #3d3d3d;
  --light-color-alt: rgba(0, 0, 0, 0.6);
  --primary-background-color: #fff;
  --secondary-background-color: #f1f1f1;
  --hover-light-color: #fff;
  --transparent-dark-color: var(--secondary-background-color);
  --transparent-light-color: rgba(0, 0, 0, 0.1);
}
/* Reusable classes */
.App {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.container {
  max-width: 160rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.place-items-center {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.section:not(.featured-articles) {
  padding-block: 2rem;
}

.d-grid {
  display: grid;
}

.screen-sm-hidden {
  display: none;
}

.bckg-color-loader {
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.characters-img {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 3rem;
}
.characters-img p {
  width: 100%;
  max-width: 20rem;
  font-size: var(--font-size-xl);
  color: #7aacd7;
  margin-bottom: 5rem;
  display: flex;
  justify-content: center;
  border: #ff0000 solid 3px;
  background-color: #ffffff;
  padding: 50px 20px;
  border-radius: 0.45rem;
}
.characters-img img {
  margin-bottom: 50px;
  width: 100%;
  max-width: 60rem;
  height: 100%;
  max-height: 48rem;
  object-fit: cover;
  border: #ffffff solid 3px;
  border-radius: 0.45rem;
}
.bckg-color-loader img {
  width: 100%;
  max-width: 520px;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bckg-color-loader p {
  font-size: var(--font-size-sm);
  font-weight: 600;
}
/* Header */
header {
  background-image: linear-gradient(
    180deg,
    #252830 30.99%,
    rgba(106, 73, 73, 0) 50.85%,
    transparent 87%
  );
  z-index: 1;
}

.nav-color {
  background-color: var(--secondary-background-color);
  height: 90px;
  position: relative;
  top: 55px;
  z-index: -50;
  margin-bottom: -23.26px;
  border-top: #afb6cd79 0.045rem solid;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 1.5rem;
}

.logo {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 12.8rem;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.75));
  z-index: 9999;
}

.logo-bd {
  width: 100%;
  max-width: 14.85rem;
  position: relative;
  top: -86px;
  left: 70px;
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.55));
  z-index: -50;
}

.menu {
  position: absolute;
  top: 8.5rem;
  right: 1.5rem;
  width: 23rem;
  padding: 1.5rem;
  margin-left: 3rem;
  background-color: var(--secondary-background-color);
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.25s ease-in;
}

.list {
  display: flex;
  align-items: center;
  gap: var(--gap);
}

.list-gap {
  gap: 3.75rem;
  color: #f1f1f1;
}
ul.list.list-gap {
  text-transform: uppercase;
}

a.list-item {
  position: relative;
}
a.list-item:hover {
  color: #ff0000;
}

a.list-item::after {
  content: "";
  position: absolute;
  left: 0;
  top: 130%;
  width: 100%;
  height: 2px;
  background: var(--gradient-color);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 250ms ease-in;
}

a.list-item:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.menu > .list {
  flex-direction: column;
}

.list-link.current {
  color: var(--light-color);
}

.open-menu-icon {
  font-size: var(--font-size-md);
}

.btn {
  cursor: pointer;
}

.list-link:hover,
.btn:hover,
.btn:hover span {
  color: var(--light-color);
}

.moon-icon {
  display: none;
}

.light-theme .sun-icon {
  display: none;
}

.light-theme .moon-icon {
  display: block;
}

/*---SLIDER*/

.section{
  min-height: 25rem;
  overflow: hidden;
  position: relative;
}

.cards{
  width: 100%;
 min-height: 15rem;
  overflow: hidden;
  position: relative;
}
/*-MODAL*/


/*---*/
.sidebar{
  width: 320px;
  height: 265px;
  position: absolute;
  top:145px;
  right:0.5px;
  display: flex;
  flex-direction: column;

}

.btn-grp{
  display: flex;
  gap:5rem;
  margin-top:30px;
}
.menu-sidebar{
  display: flex;
  justify-content: flex-start;
}
.menu-sidebar ul{
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-sm);
  color: #fff;
  gap: 5rem;
}

.image-gradient img{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 400px;
  height: 230px;
  object-fit: cover;
  overflow: hidden;
  border-radius: 10px;
  position:relative;
 }


/* Featured articles */

.principal-title {
  font-size: 5rem;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.principal-title h1 {
  border: 2px solid #fff;
  border-radius: 0.45rem;
  background-color: #ff0000;
  padding: 0 8px 0 1px;
}

.featured-articles {
  padding-block: 2rem;
}

.section-header-offset {
  margin-top: 7.4rem;
}

.featured-articles-container,
.featured-content {
  gap: var(--gap);
}

.headline-banner {
  background-color: var(--secondary-background-color);
  display: flex;
  align-items: center;
  gap: var(--gap);
  font-size: var(--font-size-xsm);
  border-radius: 0.45rem;
}

.headline {
  background-color: #000;
  color: var(--light-color);
  font-size: 1rem;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  padding: 4px;
  height: 100%;
}

.headline span {
  height: inherit;
}
.headline-right-banner {
  width: 65%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.headline-right-banner input {
  width: 100%;
  height: 80%;
  padding: 0 1.3rem;
  outline: none;
}

.fancy-border {
  position: relative;
  overflow: hidden;
  border-radius: 0.45rem;
}

.fancy-border::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 100%;
  background: var(--gradient-color);
  background-size: 50% 100%;
  z-index: 5;
}

.fancy-border span {
  position: relative;
  z-index: 10;
  display: inline-flex;
  background-color: var(--secondary-background-color);
  padding: 0.6rem 1.5rem;
  align-items: center;
}


/*---dropdown in article section---*/
.search-container{
  width: 100%;
  max-width: 280px;
  display: flex;
  flex-direction: column;
  margin-right: 5px;
}

.dropdown{
  width: 100%;
  max-width: 480px;
  background-color: white;
  display: flex;
  flex-direction: column;
  border: 1px solid #fff;
}

.dropdown:empty{
  border: none;
}

.dropdown-row{
  cursor:pointer;
  text-align: start;
  margin: 2px 0;
}
/*--- end---*/

.article {
  position: relative;
  min-height: var(--item-min-height-md);
}

.article-image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.25rem;
}

.btn-image {
  position: relative;
  top: 5%;
  left: 78%;
  font-size: var(--font-size-md);
  color: #ff0000;
  border: #7aacd7 solid 0.22rem;
  background-color: var(--light-color);
  border-radius: 50%;
  padding: 0.35rem;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.45));
}

.btn-image:hover {
  color: #7aacd7;
}

.article-category {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 1rem;
  background-color: var(--primary-background-color);
  font-size: 1rem;
  color: var(--light-color);
  text-transform: uppercase;
  z-index: 10;
}

.article-data-container {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 2rem 1.5rem;
  background-color: var(--transparent-dark-color);
  z-index: 10;
  transition: background-color 0.5s;
}
 .btn-container{
   padding: 25px;
   display: flex;
   gap:1rem;
   width: 100%;
 }
/* Light theme color hover styles */
.article:hover .article-data-container:hover {
  background-color: var(--hover-dark-color);
  color: var(--hover-light-color);
}

.article-data-spacer:hover {
  background-color: var(--hover-light-color);
}

.article-data {
  display: flex;
  align-items: center;
  gap: var(--gap);
  font-size: var(--font-size-xsm);
  margin-bottom: 1rem;
}

.article-data-spacer {
  width: 0.5rem;
  height: 0.5rem;
  background-color: var(--light-color-alt);
  transform: rotate(45deg);
}

.article-title {
  font-size: var(--font-size-sm);
  font-weight: bold;
  color: var(--hover-light-color);
}

.article-title:hover {
  color: #ff0000;
}

/* Sidebar */
.sidebar {
  background-color: var(--secondary-background-color);
  padding: 2.5rem;
  border-radius: 0.45rem;
}

.trending-news-box {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  padding-block: 2rem;
  border-bottom: 1px solid var(--transparent-light-color);
}

.trending-news-box:last-of-type {
  border-bottom: none;
}

.featured-content-title {
  font-size: var(--font-size-md);
  text-align: center;
  padding: 1rem;
}

.trending-news-img-box {
  position: relative;
  width: 100%;
  height: var(--item-min-height-sm);
}

.trending-number {
  position: absolute;
  top: -1rem;
  left: -1rem;
  z-index: 15;
  width: 3rem;
  height: 3rem;
  background-color: var(--secondary-background-color);
  color: var(--light-color);
  border-radius: 50%;
}

.trending-news-data .article-title {
  font-size: var(--font-size-sm);
}

.trending-news-box:hover .article-title {
  color: var(--light-color-alt);
}

/* Older posts */
.section-title {
  position: relative;
  font-size: var(--font-size-md);
  margin-bottom: 6rem;
  top: 1.75rem;
  color: var(--light-color);
}

.grey-section {
  background-color: var(--secondary-background-color);
  border-radius: 0.45rem;
}

.section-title::after {
  content: attr(data-name);
  font-size: var(--font-size-lg);
  text-transform: uppercase;
  opacity: 0.1;
  position: absolute;
  top: 1.5rem;
  left: 2rem;
}

.older-posts-grid-wrapper {
  gap: var(--gap);
}

.older-posts-article-image-wrapper,
.older-posts .article {
  min-height: var(--item-min-height-sm);
}

.older-posts .article {
  background-color: var(--secondary-background-color);
  border-radius: 0.45rem;
}

.older-posts-article-image-wrapper {
  position: relative;
}

.older-posts-article-image-wrapper:hover {
  position: relative;
}

.older-posts-grid-wrapper .article-data-container {
  position: static;
  background-color: transparent;
}

.older-posts-grid-wrapper .article-title {
  margin-bottom: var(--margin-sm);
}

.article:hover {
  color: var(--light-color);
}
.article {
  overflow: hidden;
  border: 2px solid #fff;
}

.article:hover .article-image {
  transform: scale(1.05);
}

/*Login form*/
form {
  padding: 0 15px;
}
.form {
  width: 100%;
  max-width: 590px;
  padding: 6rem 0;
  background-color: #fff;
  border-radius: 0.3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-bottom: 10rem;
}

.form h4 {
  margin-bottom: 5rem;
  color: #252830;
  font-size: var(--font-size-md);
  font-weight: bold;
  text-transform: uppercase;
}

.toggle {
  position: relative;
  top: -50px;
  left: 92.6%;
}

.toggle svg {
  font-size: 2.5rem;
  font-weight: bold;
  color: #7aacd7;
}

.main-box {
  width: 100%;
  display: flex;
}

.form > button {
  width: 100%;
  max-width: 25px;
  display: flex;
  align-items: flex-end;
  margin: 1rem 0;
}

.form-inputs {
  width: 63%;
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-direction: column;
}

.form-input > input::placeholder {
  color: #c4c2c26c;
  opacity: 0.8;
  background: none;
  outline: none;
}

.form-inputs > input {
  padding: 0 1rem;
  border: 0.08rem solid #7aacd7;
  height: 3.9rem;
  margin-bottom: 20px;
  font-size: var(--font-size-sm);
  color: #252830;
}

.newsletter {
  margin-top: 20px;
}

.input-chek {
  display: flex;
  align-items: center;
}

.form-inputs input[type="checkbox"] {
  transform: scale(2);
  margin-right: 20px;
}

input[type="checkbox" i] {
  background-color: initial;
  cursor: default;
  appearance: auto;
  box-sizing: border-box;
  margin: 3px 3px 3px 4px;
  padding: initial;
  border: initial;
}

.input-chek label {
  color: #666;
  font-size: var(--font-size-sm);
}

.newsletter p {
  text-align: left;
  color: rgb(96, 96, 96);
  font-size: var(--font-size-xsm);
  margin: 12px 0;
}

.form-inputs button {
  background-color: #7aacd7;
  height: 45px;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  margin-top: 20px;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #7aacd7;
  font-size: 12px;
  text-decoration: none;
  margin-top: 20px;
}

.link-home {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #7aacd7;
  font-size: 18px;
  text-decoration: underline;
  margin-top: 50px;
}

.slider {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider > input {
  width: 35px;
  height: 15px;
}

/* Footer */

footer {
  position: sticky;
  width: 100%;
  height: 100%;
  max-height: 230px;
}

.footer {
  background-color: var(--secondary-background-color);
}

.footer-container {
  gap: var(--gap);
}

.company-data {
  display: flex;
  flex-direction: column;
  order: 1;
}

.company-description {
  margin-block: var(--margin-sm);
  max-width: 75%;
}

.copyright-notice {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.8;
}

.footer-list {
  flex-direction: column;
  align-items: flex-start;
}

.footer-title {
  font-size: var(--font-size-sm);
  text-transform: uppercase;
  margin-bottom: var(--margin-sm);
}
.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
  font-size: var(--font-size-xsm);
}
/* Scrollbar */
::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #3f4254;
}

::-webkit-scrollbar-thumb:hover {
  background: #2e303b;
}

@media screen and (min-width: 700px) {
  .trending-news-box {
    flex-direction: column;
    align-items: center;
  }

  .trending-news-img-box {
    width: 50%;
  }

  .trending-news-data {
    margin: auto;
    text-align: center;
  }

  .newsletter-description {
    max-width: 40rem;
  }

  .form-container-inner {
    align-items: center;
  }

  .footer-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 768px) {
  .featured-content {
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: 5rem repeat(1, 1fr);
  }

  .headline-banner {
    font-size: var(--font-size-sm);
  }

  .featured-article {
    grid-column: 3/-1;
    grid-row: 2/4;
  }

  .featured-article-1 {
    grid-column: 1/3;
  }

  .featured-article-3 {
    grid-column: 1/-1;
    grid-row: 4/6;
  }

  .older-posts .article {
    grid-template-columns: 25rem 1fr;
  }

  .older-posts-article-image-wrapper {
    height: auto;
  }

  .blog-post-data img {
    height: var(--item-min-height-md);
  }
}

@media screen and (min-width: 1024px) {
  .menu {
    position: static;
    width: initial;
    padding: initial;
    background-color: transparent;
    opacity: 1;
    transform: scale(1);
  }

  .menu > .list {
    flex-direction: row;
  }

  .screen-lg-hidden {
    display: none;
  }

  .screen-sm-hidden {
    display: block;
  }

  .sign-up-btn {
    padding: 4px;
  }
  .sidebar{
    display:none;
  }

  /* Fancy button animation effect */
  .btn.fancy-border:hover::before {
    animation: animate_border 0.75s linear infinite;
  }

  @keyframes animate_border {
    to {
      transform: translateX(-50%);
    }
  }

  .trending-news-img-box {
    width: 10rem;
    height: 10rem;
  }

  .popular-tags-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .footer-container {
    grid-template-columns: repeat(5, 1fr);
  }

  .company-data {
    grid-column: span 2;
  }

  .company-description {
    max-width: 85%;
  }

  .copyright-notice {
    margin-top: 4rem;
  }

  .blog-post-data img {
    height: 40rem;
  }
  .copyright-notice {
    
    margin-top: 4rem;
  }
}

@media screen and (min-width: 1200px) {
  .older-posts-grid-wrapper {
    gap: var(--gap);
  }

  .older-posts-grid-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1500px) {
  .featured-article {
    grid-column: 3/-1;
  }

  .featured-article-1 {
    grid-column: 1/3;
    grid-row: 2/-1;
  }
  .copyright-notice {
    margin-top: 4rem;
}
}
